
<!-- Material form login -->
<form>
    <p class="h4 text-center mb-4">Authentification</p>

    <!-- Material input email -->
    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="email" id="materialFormLoginEmailEx" class="form-control">
        <label for="materialFormLoginEmailEx">Email</label>
    </div>

    <!-- Material input password -->
    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="materialFormLoginPasswordEx" class="form-control">
        <label for="materialFormLoginPasswordEx">Mot de passe</label>
    </div>

    <div class="text-center mt-4">
        <button class="btn btn-primary" type="submit">Se connecter</button>
    </div>

    <div class="text-right mt-4">
        <p class="font-small grey-text d-flex justify-content-end">Mot de passe oublié ? <a href="#" class="blue-text ml-1"> Réinitialiser</a></p>
    </div>
    <div class="text-right mt-4">
        <p class="font-small grey-text d-flex justify-content-end">Vous êtes nouveau ? <a href="#" class="blue-text ml-1"> S'inscrire maintenant</a></p>
    </div>

</form>
<!-- Material form login -->
                      