
<!-- Material form register -->
<form>
    <p class="h4 text-center mb-4">Nous contacter</p>

    <!-- Material input text -->
    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="materialFormRegisterNameEx" class="form-control">
        <label for="materialFormRegisterNameEx">Your name</label>
    </div>

    <!-- Material input email -->
    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="email" id="materialFormRegisterEmailEx" class="form-control">
        <label for="materialFormRegisterEmailEx">Your email</label>
    </div>

    <div class="md-form form-sm">
        <i class="fa fa-pencil prefix"></i>
        <textarea type="text" id="materialFormMessageModalEx1" class="md-textarea form-control"></textarea>
        <label for="materialFormMessageModalEx1">Your message</label>
    </div>
   

    <div class="text-center mt-4">
        <button class="btn btn-primary" type="submit">Envoyer</button>
    </div>

   
</form>
<!-- Material form register -->
                      