<aside id="aside" class="col-md-3">
  <!-- Search -->
  <div class="widget">
    <div class="widget-search">
      <input class="search-input" type="text" placeholder="search">
      <button class="search-btn" type="button"><i class="fa fa-search"></i></button>
    </div>
  </div>
  <!-- /Search -->

  <!-- Category -->
  <div class="widget">
    <h3 class="title">Les news de lomé</h3>
    <div class="widget-category">
      <a href="#">Actualité 1 (A compléter)...<span>(7)</span></a>
      <a href="#">Actualité 2 (A compléter)...<span>(142)</span></a>
      <a href="#">Actualité 3 (A compléter)...<span>(74)</span></a>
     
    </div>
  </div>

</aside>
